@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #111;
}
body::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#page1 {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
#page2 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(117, 211, 242);
}
#page3 {
    height: 100%;
    width: 100%;
    background-color: black;
}

#page2 h1 {
    font-size: 30vw;
    text-transform: uppercase;
}
